<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Happy</title>

		<link rel="icon" href="/images/logo-icon.png" />

		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/animations.css" />
		<link rel="stylesheet" href="/css/page-landing.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
	</head>

	<body id="body">
		<div id="page-landing">
			<div id="container">
				<header>
					<img 
					class="animate-up"
					id="logo" 
					src="/images/logo.svg" 
					alt="Logomarca de Happy" 
					/>

					<div class="location animate-up">
						<strong>Natal</strong>
						<p>Rio grande do Norte</p>
					</div>
				</header>

				<main class="animate-appear">
					<h1>Leve felicidade para o mundo!</h1>
					<section class="visit">
						<p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>

						<a class="animate-up" href="/orphanages" title="Visite orfanatos">
							<img src="/images/arrow.svg" alt="ir para o mapa" />
						</a>
					</section>
				</main>
			</div>
		</div>
	</body>
</html>
